* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

.container {
  margin: auto;
  max-width: 720px;
  padding: 70px 63px;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  color: #141413;
  height: 108px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

header > h1 {
  font-size: 2rem;
  font-weight: 400;
}

/* main {
  padding: 70px 63px;
} */

.add-muscle-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-muscle-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  /*box-sizing: 0 1px 2px 0 rgba(0, 0, 0, 0.05);*/
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-muscle-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 180px;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.training-wish-list > h2 {
  margin-top: 48px;
  margin-bottom: 10px;
  font-size: 1.875rem;
  font-weight: 600;
}

.training-wish-list > ul {
  padding-left: 20px;
  margin-bottom: 48px;
  margin-top: 0;
}

.training-wish-list > ul > li {
  font-weight: 300;
  font-size: 1.125rem;
  color: #475467;
  line-height: 2.2;
}

.get-training-sheet {
  background-color: #f0efeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 42px;
  border-radius: 12px;
  /* gap: 20px; */
}

.get-training-sheet > div > h3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.get-training-sheet > div > p {
  font-size: 0.85rem;
  color: #6b7280;
  margin: 8px 0 0 0;
}

.get-training-sheet > button {
  color: #fafaf8;
  background-color: #d17557;
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  padding: 12px 24px;
}
